
</script>
<div class="container" style="margin-top: 170px;">
    <div class="row head-content">
        <div class="col-md-5 course-infomation">
            <div class="course-name">
                {{course.TenKhoaHoc}}
            </div>
            <div class="description">
                {{course.MoTa}}
            </div>
            <div class="rate">
                Rating: <i class="fa fa-star" style="color:rgb(235, 235, 41);" aria-hidden="true"></i> {{course.DiemDanhGia}} point
            </div>
        </div>
        <div class="col-md-6">
            {{!-- <img class="course-img" src="../images/course_4.jpg" alt="hinh-anh"> --}}
            <img class="course-img" src="{{course.HinhAnh}}" alt="hinh-anh">
        </div>
        
    </div>
    <div class="row lectureslist">
        <div style="font-size: 60px; color: rgb(104, 102, 102)">
            Course Content
        </div>
        {{#each course.DeCuong}}
            <div class="chapter-wrap">
            
                <div class="chapter-name">
                    <div class="chapter-index" style="display: inline-block;"></div>: {{TenChuong}}
                </div>
                <div class="lessons">
                
                    {{#each course.DeCuong.DSBaiHoc}}   
                        <div class="lesson-name">
                            <ul>
                                <li><a href="lecture/{{_id}}"> <div style="display: inline-block;" class = "lesson-index">{{@index}}</div>: {{TenBaiHoc}}</a></li>
                            </ul>
                        
                        </div>
                    {{/each}}
                </div>
                
            </div>
        {{/each}}
        
        <!-- Reviews -->
        <div class="tab_panel active tab_panel_3">
            <div class="tab_panel_title">Course Review</div>    
            <!-- Comments -->
            <div class="comments_container">
                <ul class="comments_list">
                    {{#each DanhGia}}
                    <li>
                        <div
                            class="comment_item d-flex flex-row align-items-start jutify-content-start">
                            <div class="comment_image">
                                <div><img class="avt" src="images/partner_1.png" alt="" ></div>
                            </div>
                            <div class="comment_content ">
                                <div
                                    class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                    <div class="comment_author">{{this.TacGia.Ten}}</div>
                                    <div class="comment_rating ">
                                       <div class="rating_r rating_r_4"> has rated this Course   {{this.DiemDanhGia}} <i class="fa fa-star" style="color:rgb(235, 235, 41);" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="comment_time ml-auto">  at {{this.NgayDang}}</div>
                                </div>
                                <div class="comment_text">
                                    <p>{{this.PhanHoi}}</p>
                                </div>
                            </div>
                        </div>

                    </li>
                    {{/each}}
                </ul>
                <div class="row pagination-container w-100 d-flex justify-content-center"></div>

                {{#if isAuthentication}}
                <div>   
                    <div class="form_title">Write Your Review *</div>
                    <textarea class="w-100 h-75 comment_input comment_textarea" required="required"></textarea>
                    <div id="rateYo"></div>
                        <input type="hidden" id="Review-User" name="User" value={{userinfo._id}}>
                        <input type="hidden" id="Review-KhoaHoc" name="KhoaHoc" value={{course._id}}>
                </div>

                <div>
                    <button onclick=" submitComment()"
                        class="comment_button trans_200 btn btn-lg btn-primary">submit</button>
                </div>
                {{else}}
                <div class="add_comment_container">
                    <div class="add_comment_title">Add a review</div>
                    <div class="add_comment_text">You must be <a href="/login">logged</a> in to post
                        a
                        comment.</div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {   
        $("#rateYo").rateYo({
            rating: 0,
            fullStar: true,
        });
    });
</script>
<script>
async function submitComment(){
    console.log("submitted");
    var PhanHoi = document.querySelector('.comment_input.comment_textarea').value;
    var User_id = document.querySelector('#Review-User').value;
    var KhoaHoc = document.querySelector('#Review-KhoaHoc').value;
    console.log(PhanHoi);
    /* get rating */
    var DiemDanhGia = $("#rateYo").rateYo("rating");
    console.log(DiemDanhGia);
    console.log(User_id);
    const NgayPost = new Date();
    const response = await fetch('/createComment', {
        method: 'POST',
        mode: 'cors',
        headers: {
            'Content-Type': 'application/json'
            // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: JSON.stringify({PhanHoi: PhanHoi, NgayPost:NgayPost,User_id:User_id,KhoaHoc:KhoaHoc,DiemDanhGia:DiemDanhGia})
    })
    const data = await response.json();
    alert(data.status);
    location.reload();
};
</script>


