	<header class="header">
	
		{{>topbar}}

		<!-- Header Content -->
		{{>home_header}}
		
	</header>
<div class="main-content">
    <div class="container " style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-3"> 
                <div class="block account-nav">
                    <div class="quick-user-info clearfix">
                        <div class="user-avatar float-left white-background">
                            {{!-- <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg" id="avatar-image" class="avatar-customer"> --}}
                            <img src="{{user.Avt}}" id="avatar-image" class="" onerror="this.src='https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png'">
                            <span class="text-avatar" style="visibility: hidden;">DQ</span>
                        </div>
                        <div class="user-name-and-role">
                            <span class="user-name">{{user.Ten}}</span> 
                            <span class="sub-title">&lrm;Học viên</span>
                        </div>
                    </div>
                    <div class="content account-nav-content" id="account-nav">
                        <ul class="nav items nav-list">
                            <li class="nav item"><a href="./">Profile</a></li>
                            <li class="nav item"><a href="mycourses">My courses</a></li>
                            <li class="nav item"><a href="cart">My cart</a></li>
                            <li class="nav item current"><a href="WatchList"><strong>WatchList</strong></a></li>
                            {{!-- <li class="nav item"><a href="purhistory">Purchase history</a></li> --}}
                            <li class="nav item"><span class="delimiter"></span></li> 
                            <li class="nav item"><span class="delimiter"></span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
  					<div class="col-lg-12">
                        <div class="courses_container" style="margin-top:30px">
                            <div class="row courses_row">
                                {{#each courses}}
                                <div class="col-lg-4 course_col">
                                    <div class="course">
                                        <div class="course_image"><img src="{{this.AnhDaiDien}}" alt="hinh-anh"></div>
                                        <div class="course_body">
                                            <h3 class="course_title"><a href="/course/{{this._id}}/lectureslist">{{this.TenKhoaHoc}}</a></h3>
                                            <div class="course_text">
                                                <p>{{this.MoTaNgan}}</p>
                                            </div>
                                        </div>
                                        <div class="course_footer">
                                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                                <div class="course_info">
                                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                    <span>20 Student</span>
                                                </div>
                                                <div class="course_info">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <span>{{this.DiemDanhGia}} Ratings</span>
                                                </div>
                                                {{!-- <div class="course_price ml-auto"><span>$320</span>{{Gia}}</div> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}

                            </div>
                            <div class="row pagination_row">
                                <div class="col">
                                    <div class="pagination_container d-flex flex-row align-items-center justify-content-center">
                                        <ul class="pagination_list">
                                            {{#if pagesNav.prev}}
                                                <li class=""><a href="?page={{pagesNav.prev}}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                            {{else}}
                                                <li class="no-hover"><a href="" class="disabled"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                            {{/if}}

                                                {{#each pages}}
                                                {{#if isActive}}
                                                        <li> <a href="#" class = "active disabled">{{value}}</a>   </li>
                                                {{else}}
                                                        <li> <a href="?page={{value}}">{{value}}</a></li>
                                                {{/if}}
                                            {{/each}}   

                                                {{#if pagesNav.next}}
                                                <li class=""><a href="?page={{pagesNav.next}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                            {{else}}
                                                <li class="no-hover"><a href="" class="disabled"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                            {{/if}}                                          
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>    
            </div>
        </div>
    </div>
</div>


